.navbar {
  font-family: var(--main-font);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
  color: var(--pink);
}

.nav-li {
  text-decoration: none;
  color: var(--pink);
  font-weight: bold;
  font-size: 1.5rem;
  transition: color 0.3s;
  text-transform: uppercase;
}

.nav-li:hover {
  color: var(--coffee); 
}

.logo-container {
  display: flex;
  justify-content: flex-start;
}

.logo {
  width: 5vh;
}
.text-language{
  text-transform: capitalize;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.hamburger .line {
  width: 30px;
  height: 4px;
  background-color: var(--pink);
  border-radius: 5px;
}

/* Navbar Small Screens */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 80px;
    right: 0;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 80px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links.open {
    transform: translateX(0);
    z-index: 10;
  }

  .hamburger {
    display: flex;
  }

  .nav-links li {
    font-size: 2.5rem;
  }

  .logo {
    width: 7vh;
  }
}
